/* Mark Faderon */

@import url('http://fonts.googleapis.com/css?family=Open+Sans');

/* GLOBAL */

* {
	padding: 0;
	margin: 0;
	font-family: "Open Sans", serif !important;
	color: #73818E;
}

body {
	background: black;
	cursor: url(styles/cursor.cur), auto;
}

#container {
	background: #001B26;
	width: 900px;
	min-height: 500px;
	margin: 0 auto;
}

header {
	background: url("images/under_construction.jpg") no-repeat center;
	width: 100%;
	min-height: 200px;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
}

/* END GLOBAL */

/* CLASS */

/* Calc Button */
.button {
   border-top: 1px solid #7dc2ed;
   background: #1b72ab;
   background: -webkit-gradient(linear, left top, left bottom, from(#07121a), to(#1b72ab));
   background: -webkit-linear-gradient(top, #07121a, #1b72ab);
   background: -moz-linear-gradient(top, #07121a, #1b72ab);
   background: -ms-linear-gradient(top, #07121a, #1b72ab);
   background: -o-linear-gradient(top, #07121a, #1b72ab);
   padding: 6px 12px;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 13px;
   font-family: Georgia, Serif;
   text-decoration: none;
   vertical-align: middle;
}
.button:hover {
   border-top-color: #0086e0;
   background: #0086e0;
   color: #fffaff;
}
.button:active {
   border-top-color: #1b435e;
   background: #1b435e;
}

.buttonActive {
	background: #0086e0;
}

/* Calc Textbox */

.textbox {
	border:2px solid #456879;
	border-radius:10px;
	height: 22px;
	width: 230px;
}

ul.textdecoration li a {
	text-decoration: underline;
}

/* END CLASS */

#mainnav {
	width: 100%;
	height: 48px;
	background: #001B36;
	border-bottom: 2px solid darkblue;
}

#mainnav ul li {
	float: left;
}

#mainnav ul li a {
	background: #001B36;
	color: white;
	font: 18px;
	display: inline-block;
	padding: 0 15px;
	height: 44px;
	line-height: 44px;
	margin: 3px;
	text-align: center;
	border-radius: 15px;
}

#mainnav ul li a:hover,
#mainnav ul li a:active {
	background: blue;
}

#mainnav ul li a.selected {
	background: blue;
}

div#content {
	padding: 20px;
	min-height: 200px;
}

a#gototop {
	position: fixed;
	right: 15px;
	bottom: 15px;
	padding: 15px;
	background: #001B26;
	color: white;
	border-radius: 25px;
}

table#listofPerson {
	width: 100%;
	text-align: left;
}

div#addPersonForm {
	display: none;
	background: white;
	width: 250px;
	padding: 15px;
	border-radius: 10px;
	
	position: absolute;
	top: 50%;
	left: 50%;
	
	margin-top: -76px;
	margin-left: -140px;
}

div#addPersonForm ul li {
	padding-bottom: 5px;
}

div#addPersonForm button {
	float: right;
	margin: 5px 0 0 5px;
}