/* Author: Mark Faderon */

@font-face { 
	font-family: "Elkwood";
	src: url('fonts/Elkwood.ttf');
}

@font-face {
	font-family: "AvenirNextLTPro-Regular";
	src: url('fonts/AvenirNextLTPro-Regular.otf');
}

* {
	padding: 0;
	margin: 0;
}

body {
	background: gray;
}

nav ul {
	list-style-type: none;
}

.floatLeft {
	float: left;
}

.floatRight {
	float: right;
}

.fontSizeSmall {
	font-size: x-small;
}

.verticalAlignTop {
	vertical-align: top;
}

/* END GLOBAL */

div#container {
	width: 1000px;
	margin: 0 auto;
}

header {
	width: 100%;
	height: 100px;
	background: white;
}

header ul {
	font-family: "Elkwood";
	font-size: 0;
	text-align: center;
}

header ul li {
	display: inline-block;
	font-size: large;
	padding: 10px;
	box-shadow: 1px 1px 5px #888888;
}

header ul li a {
	display: inline-block;
	color: black;
	padding: 0 4px;
}

header ul li#activeHeader {
	background: #00A6A4;
}

header ul li#activeHeader a {
	text-decoration: none;
	color: #00A6A4;
	background: white;
}

nav#mainnav {
	width: 100%;
	height: 50px;
	font-family: "Elkwood";
	
	background: #EDECE8;
	border-bottom: 15px solid #00A6A4;
	
	text-align: center;
}

nav#mainnav ul {
	font-size: 0;
}

nav#mainnav ul li {
	display: inline-block;
	font-size: large;
}

nav#mainnav ul li a {
	display: inline-block;
	line-height: 50px;
	text-decoration: none;
	padding: 0 15px;
	font-weight: 500;
	border-left: 2px solid black;
}

nav#mainnav ul li:last-child a {
	border-right: 2px solid black;
}

nav#mainnav ul li a:visited {
	color: black;
}

nav#mainnav ul li a:hover,
nav#mainnav ul li a#selected {
	color: white;
	background: #AEB2B2;
	text-decoration: underline;
}

div#content {
	width: 700px;
	min-height: 900px;
	float: left;
	
	padding: 50px;
	
	background: #F3F3F3;
	
}

div#content div#formDiv {
	background: #00A6A4;
	color: white;
	width: 700px;
	min-height: 500px;
	
	font-family: "AvenirNextLTPro-Regular";
	font-size: 20px;
	
	box-shadow: 0 0 30px #000000;
}

div#content div#formDiv a {
	color: white;
}

div#content div#formDiv p {
	padding-bottom: 25px;
}

div#content div#formDiv div#formDivHeader {
	padding: 10px 25px 0 50px;
}

div#content div#formDiv div#formDivHeader span#heading {
	font-family: "Elkwood";
	text-decoration: underline;
	font-size: 50px;
	line-height: 100px;
}

div#content div#formDiv div#formDivHeader span.floatRight {
	font-size: small;
}

div#content div#formDiv div#formDivHeader span.floatRight span {
	vertical-align: middle;
}

div#content div#formDiv div#pajobFloatLeft {
	margin-left: 50px;
	width: 300px;
}

div#content div#formDiv div#pajobFloatRight {
	width: 300px;
}

div#content div#formDiv div#pajobFloatRight p#perTimeCheckBox label {
	vertical-align: middle;
}

div#content div#formDiv div#formDivFooter {
	clear: both;
	text-align: right;
	padding-right: 50px;
	width: 650px;
	height: 75px;
	padding-top: 25px;
}

div#content div#formDiv div#formDivFooter a.button {
	font-family: "Elkwood";
	background: #EFD21A;
	color: #00A6A4;
	padding: 10px;
	font-size: 25px;
	text-decoration: none;
}

div#sidebar {
	width: 200px;
	height: 1000px;
	float: right;
	
	background: #007D96;
}

div#footernav {
	width: 100%;
	height: 250px;
	clear: both;
}

div#footernav div#head {
	font-family: "Elkwood";
	background: #00A6A4;
	
	width: 100%;
	height: 60px;
	line-height: 65px;
}

div#footernav div#head ul {
	list-style-type: none;
	text-align: center;
	color: white;
}

div#footernav div#head ul li {
	display: inline;
	padding-right: 75px;
	font-size: xx-large;
}

div#footernav div#head ul li:last-child {
	padding-right: 0;
}

div#footernav div#body {
	background: #EBEBE8;
	font-family: "AvenirNextLTPro-Regular";

	width: 100%;
	height: 300px;
}

div#footernav div#body a {
	color: #00A6A4;
	text-decoration: none;
}

div#footernav div#body div ul {
	list-style-type: none;
}

div#footernav div#body div {
	padding-top: 50px;
	height: 250px;
	float: left;
}

div#footernav div#body div#navTools {
	width: 150px;
	padding-left: 160px;
}

div#footernav div#body div#navCompany {
	width: 195px;
	padding-left: 10px;
}

div#footernav div#body div#navConnect {
	width: 190px;
}

div#footernav div#body div ul li {
	padding-bottom: 5px;
}

div#footernav div#body div ul li a:hover {
	color: black;
	text-decoration: underline;
}

footer {
	background: #252127;
	font-family: "AvenirNextLTPro-Regular";
	clear: both;
	
	height: 50px;
}

footer nav {
	text-align: center;
}

footer nav ul li {
	display: inline;
	color: #00A6A4;
	padding-left: 50px;
	line-height: 50px;
}

footer nav ul li a {
	color: #00A6A4;
	text-decoration: none;
}

footer nav ul li a:hover {
	text-decoration: underline;
}

/* WORK EXP PAGE */

div#content div#bannerWE {
	width: 700px;
	height: 200px;
	background: pink;
}

div#content div#formDiv div#weFloatLeft {
	padding-left: 50px;
}

div#content div#formDiv div#weFloatRight {
	padding-right: 50px;
}

